.hello {
  font-size: 28px;
}
.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 46px;
  color: #e60067;
}

.subName {
  font-size: 36px;
  color: #6c7693;
}

@media (max-width: 450px) {
  .hello {
    font-size: 16px;
  }
  .name {
    font-size: 26px;
  }
  .subName {
    font-size: 20px;
  }
}
