.navbar {
  display: flex;
}

.navItem {
  font-size: 20px;
  margin: 0 14px;
  font-weight: 800;
  color: #6c7693;
  cursor: pointer;
}

.navItem:hover {
  color: #e60067;
}

@media (max-width: 450px) {
  .navbar {
    display: none;
  }
}
