.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

@media (max-width: 450px) {
  .container {
    position: relative;
    height: 90vh;
    width: 100%;
  }
  .forMobile {
    position: absolute;
    right: -100%;
    padding: 16px;
    width: 100%;
    height: 90vh;
  }
  .visible {
    transform: translateX(-100%);
    transition: transform 0.66s ease-in-out;
  }
  .notVisible {
    transform: translateX(0);
    transition: transform 0.66s ease-in-out;
  }
}
