.current {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.emoji {
  font-size: 24px;
}
.role {
  font-size: 42px;
  color: #e60067;
}

.comp {
  font-size: 34px;
}
.compName {
  color: #4433ff;
  text-decoration: underline;
}

.joined {
  font-size: 18px;
  color: #6c7693;
}
.description {
  max-width: 400px;
}

.descLine {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  /* text-align: end; */
}

.techTag {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 400px;
}

.tag {
  font-size: 12px;
  background-color: #c0def2;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 12px;
  margin: 6px;
}
