.blogs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #f0faf9; */
}
.bodyMobile {
  display: none;
}
.blogTitle {
  transform: rotate(270deg);
  font-size: 28px;
  color: #4433ff;
  font-weight: 700;
}
.nextIcon {
  color: #4433ff;
}
.allButton {
  background-color: transparent;
  border: none;
}
.buttonTitle {
  display: inline-block;
  transform: rotate(90deg);
  font-weight: 600;
  color: #4433ff;
  font-size: 28px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.body {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer {
  display: flex;
  width: 10%;
}

@media (max-width: 450px) {
  .blogs {
    flex-direction: column;
    justify-content: flex;
    align-items: center;
  }
  .header {
    width: 100%;
    justify-content: flex-start;
  }
  .body {
    display: none;
  }
  .bodyMobile {
    display: flex;
  }
  .blogTitle {
    transform: rotate(0deg);
  }
  .footer {
    width: 100%;
  }
  .allButton {
    width: 100%;
  }
  .buttonTitle {
    display: flex;
    transform: rotate(0deg);
  }
}
