.blogs {
  display: flex;
  justify-content: space-between;
  /* background-color: #f0faf9; */
}
.blogTitle {
  transform: rotate(270deg);
  font-size: 28px;
  color: #4433ff;
  font-weight: 700;
}
.nextIcon {
  color: #4433ff;
}
.allButton {
  background-color: transparent;
  border: none;
}
.buttonTitle {
  display: inline-block;
  transform: rotate(90deg);
  color: #4433ff;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.body {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer {
  display: flex;
  width: 10%;
}
