.blogCard {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  height: 220px;
  width: 300px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 18px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  background-color: white;
}

.blogCard:hover .title {
  color: #e60067;
}
.title {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* .title:hover {
  color: #e60067;
} */

.description {
  margin-block: 8px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #6c7693;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 12px;
}

.tag {
  background-color: #c0def2;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 8px;
}
